<!-- <p>home works!</p> -->
<nav class="navbar sticky-top justify-content-center">
  <a class="navbar-brand" href="#">PORTFOLIO</a>
</nav>

<div class="container-fluid bgImage">
    <div class="row vh-100 align-items-center justify-content-center cover bgColor bgImage">
        <div class="col-sm-12 text-center container-1">
            <img [src]="imgLink" alt="no image" class="profile-pic">
            <div id="greetings-text">
                <h1 >Hi! My name is Joel.</h1>
                <h5>I am a Graphic Designer and a beginner in Web Development.</h5>
            </div>
        </div>
        <!-- <div class="col-sm-12 text-center container-2">
            
                <h1 >Hi! My name is Joel.</h1>
                <h5>I am a UI/UX Designer and a beginner in <br> Web Development</h5>
            
        </div>  -->
    </div>

    <div class="row divide">
        <div class="col-12">
            <h1>PROJECTS</h1>
        </div>
    </div>

    <div class="row row-3 bgImage">
        <!-- <div class="col-sm-12 bgImage space"></div> -->
        <!-- <div class="col-auto bgImage "></div> -->

        <div class="col ">
            <div class="row justify-content-center">

                <div class="col-sm-6 contents text-right ">
                    <a href="https://dict-9c604.web.app/" target="_blank">
                    <img src="../../assets/Pic1.png" alt="DICT" title="DICT LC2 4th day Output" class="works">
                    </a>
                </div>

                <div class="col-sm-6 contents text-left">
                    
                    <img src="../../assets/Pic2.png" alt="LOGO_FACEMANGA" title="Logo for Facemanga" class="works">
                    
                </div>

                <div class="col-sm-6 contents text-right">
                    
                    <img src="../../assets/Pic3.png" alt="LOGO_MAMALHOTS" title="Logo for Mama Lhot's Sizzling House" class="works">
                    
                </div>

                <div class="col-sm-6 contents text-left">
                    
                    <img src="../../assets/Pic7.png" alt="COVER_PHOTO" title="Facebook Cover Photo for JVDM (unpublished page)" class="works">
                    
                </div>

                <div class="col-sm-6 contents text-right">
                    
                    <img src="../../assets/Pic4.png" alt="POSTER_COMINGSOON" title="Coming Soon poster for our musical play back in my Junior High School Days" class="works">
                    
                </div>

                <div class="col-sm-6 contents text-left">
                    
                    <img src="../../assets/Pic8.png" alt="TICKET" title="Ticket design for our musical play in school" class="works">
                    
                </div>

                <div class="col-sm-6 contents text-right">
                    
                    <img src="../../assets/Pic6.png" alt="POSTER_INVITE" title="Poster for our Acquaintance Party in school" class="works">
                    
                </div>

                <div class="col-sm-6 contents text-left">
                    
                    <img src="../../assets/Pic5.png" alt="PHOTOBOOTFRAME" title="Photobooth Frame for our Acquaintance Party in school" class="works">
                    
                    
                </div>

        
                
            </div>
        </div>
        <!-- <div class="col-auto bgImage "></div> -->
        <!-- <div class="col-sm-12 space bgImage"></div> -->
    </div>
    

    <div class="row divide">
        <div class="col-12">
            <h1>GET IN TOUCH</h1>
        </div>
    </div>

    <!-- <div class="row bgColorBlack  ">
        <div class="col-sm-12 space"></div>
        <div class="col-auto"></div>
        <div class="col">
            <div class="row">
                <div class="col-sm-6 text-center" id="contact-image">
                    <img src="../../assets/mail.png" style="height: auto; width: 50%;" alt="Mail">
                </div>
                <div class="col-sm-6  align-self-center fb-email">
                    <div class="row">
                        <div class="col-sm-12  margin">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-sm-2  text-center margin">
                                    <a href="https://www.facebook.com/joel.aseo" target="_blank">
                                    <img src="../../assets/facebook-app-symbol.png" class="contact-logo" alt="Facebook" >
                                    </a>
                                </div>
                                <div class="col-sm-10">
                                    <h5 class="contact">Facebook:<br><a href="https://www.facebook.com/joel.aseo" title="Facebook" target="_blank"> https://www.facebook.com/joel.aseo</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12  margin">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-sm-2  text-center margin">
                                    <a href="mailto:joelaseo@gmail.com">
                                    <img src="../../assets/email-symbol.png" class="contact-logo" alt="Email">
                                    </a>
                                </div>
                                <div class="col-sm-10" >
                                    <h5 class="contact">Email:<br> <a href="mailto:joelaseo@gmail.com" title="Email" target="_blank">joelaseo@gmail.com</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                
            </div>
        </div>
        

        <div class="col-auto"></div>
        <div class="col-sm-12 space"></div>
    </div> -->

    <div class="row bgColorBlack">
        <div class="col-sm-12 space"></div>
        <div class="col-auto"></div>
        <div class="col">
            <div class="row">
                <div class="col-sm-12 text-center reach">Reach me through these channels</div>
                <!-- <div class="col-sm-12 text-center contact-container">
                    <a href="https://www.messenger.com/t/joel.aseo" target="_blank" class="MessengerBtn">Messenger</a>
                    <a href="mailto:joelaseo@gmail.com" class="EMAILbtn">Email</a>
                </div> -->
                <div class="col-sm-6 text-right facebook-container">
                    <a href="https://www.messenger.com/t/joel.aseo" target="_blank" class="MessengerBtn">Messenger</a>
                    <!-- <h5 style="margin-top: 30px;">Send a message on Facebook Messenger</h5> -->
                </div>

                
                <div class="col-sm-6  text-left email-container">
                    <a href="mailto:joelaseo@gmail.com" class="EMAILbtn">Email</a>
                    <!-- <h5 style="margin-top: 30px;">Send an Email</h5> -->
                </div>
        
                
            </div>
        </div>
        

        <div class="col-auto"></div>
        <div class="col-sm-12 space"></div>
    </div>


    <div class="row footer">
        <div class="col-sm-12">
            <h6 style="text-align: center;">Joel Francis C. Aseo</h6> 
        </div>
        <div class="col-sm-12">
            <!-- <p class="attribution">Icons made by <a href="http://www.freepik.com/" title="Freepik" target="_blank">Freepik</a> and <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha" target="_blank">Pixel Buddha</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>
            </p> -->
            <p class="attribution">Favicon made by <a href="http://www.freepik.com/" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>
            </p>
        </div>
    </div>


</div>
